include header 
include menu 
// Слайдер
.image-slider.swiper-container
  .image-slider__wrapper.swiper-wrapper
    .image-slider__slide.swiper-slide
      .text-slider__text
        h1.text-slider__text__h1 &Pcy;&ocy;&scy;&tcy;&rcy;&ocy;&icy;&tcy;&softcy; &scy;&vcy;&ocy;&jcy; &dcy;&ocy;&mcy; &vcy; &icy;&pcy;&ocy;&tcy;&iecy;&kcy;&ucy;
        p.slider_p_text 3% &rcy;&scy;&khcy;&bcy;
        p.slider_p_text 4% &dcy;&ocy;&mcy;.&rcy;&fcy;
        p.slider_p_text 9% &Scy;&bcy;&iecy;&rcy;&bcy;&acy;&ncy;&kcy;
        .image-slider__slide-button
          a.recCall-a_slider.a__text(href='') &Ucy;&zcy;&ncy;&acy;&tcy;&softcy; &pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
      .image-slider__image
        img(src='img/slider/dom1.jpg' alt='dom1' srcset='')
    .image-slider__slide.swiper-slide
      .text-slider__text
        h1.text-slider__text__h1 &Scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy; &ncy;&acy;&scy; &ncy;&acy; YouTube
        p.slider_p_text
          | &Ncy;&acy;&scy; &ucy;&zhcy;&iecy; 21 000 &ocy; &chcy;&iecy;&mcy; &ncy;&acy;&shcy;&icy; &vcy;&ycy;&pcy;&ucy;&scy;&kcy;&icy;? 
          br
          | &Ocy;&bcy;&zcy;&ocy;&rcy;&ycy; &gcy;&ocy;&tcy;&ocy;&vcy;&ycy;&khcy; &dcy;&ocy;&mcy;&ocy;&vcy; 
          br
          | &Pcy;&ocy;&lcy;&iecy;&zcy;&ncy;&ocy;&iecy; &vcy;&icy;&dcy;&iecy;&ocy; 
          br
          | &Scy;&tcy;&rcy;&ocy;&yucy; &scy;&iecy;&bcy;&iecy; &dcy;&ocy;&mcy;
        .image-slider__slide-button
          a.recCall-a_slider.a__text(href='') &Tcy;&icy;&pcy;&ocy;&vcy;&ycy;&iecy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&ycy;
          a.recCall-a_slider2.a__text(href='') &Ucy;&zcy;&ncy;&acy;&tcy;&softcy; &pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
      .image-slider__image
        img(src='img/slider/dom2.jpg' alt='dom2' srcset='')
    .image-slider__slide.swiper-slide
      .text-slider__text
        h1.text-slider__text__h1 10 &lcy;&iecy;&tcy; &scy;&tcy;&rcy;&ocy;&icy;&mcy; &vcy; &scy;&ocy;&vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&ycy;&iecy; &dcy;&ocy;&mcy;&acy; &vcy; &IEcy;&kcy;&acy;&tcy;&iecy;&rcy;&icy;&ncy;&bcy;&ucy;&rcy;&gcy;&iecy;
        p.slider_p_text &Scy;&tcy;&ocy;&icy;&mcy;&ocy;&scy;&tcy;&softcy; &scy;&tcy;&rcy;&ocy;&icy;&tcy;&iecy;&lcy;&softcy;&scy;&tcy;&vcy;&acy;
        p.slider_p_text &quot;&kcy;&ocy;&rcy;&ocy;&bcy;&kcy;&icy; &dcy;&ocy;&mcy;&acy;&quot; &ocy;&tcy; 35 000 &rcy;&ucy;&bcy;. &mcy;2
        p.slider_p_text &quot;&pcy;&ocy;&dcy; &chcy;&icy;&scy;&tcy;&ocy;&vcy;&ucy;&yucy;&quot; &ocy;&tcy; 60 000 &rcy;&ucy;&bcy;. 
        .image-slider__slide-button
          a.recCall-a_slider.a__text(href='') &Tcy;&icy;&pcy;&ocy;&vcy;&ycy;&iecy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&ycy;
      .image-slider__image
        img(src='img/slider/dom3.jpg' alt='dom3' srcset='')
    .image-slider__slide.swiper-slide
      .text-slider__text
        h1.text-slider__text__h1 &Icy;&ncy;&dcy;&icy;&vcy;&icy;&dcy;&ucy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy; &dcy;&ocy;&mcy;&acy;
        p.slider_p_text &Acy;&dcy;&acy;&pcy;&tcy;&acy;&tscy;&icy;&yacy; &pcy;&lcy;&acy;&ncy;&icy;&rcy;&ocy;&vcy;&kcy;&icy; &ocy;&tcy; 7 000 &rcy;&ucy;&bcy;&lcy;&iecy;&jcy;
        p.slider_p_text &Ecy;&scy;&kcy;&icy;&zcy;&ncy;&ycy;&jcy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy; &ocy;&tcy; 250 &rcy;&ucy;&bcy;&lcy;&iecy;&jcy; &zcy;&acy; &kcy;&vcy;.&mcy;
        p.slider_p_text &Rcy;&acy;&bcy;&ocy;&chcy;&icy;&jcy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy; &ocy;&tcy; 400 &rcy;&ucy;&bcy;&lcy;&iecy;&jcy; &zcy;&acy; &kcy;&vcy;.&mcy;
        .image-slider__slide-button
          a.recCall-a_slider.a__text(href='') &Pcy;&rcy;&ocy;&iecy;&kcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;
      .image-slider__image
        img(src='/img/slider/video-obzor-postroennogo-odnoetazhnogo-sip-doma-po-proektu-krushinka-68.jpeg' alt='dom4' srcset='')
  .swiper-button-prev
  .swiper-button-next
  .swiper-pagination
script(src='js/script.js')
include footer 
