include header 
header.header
  section.container
    nav.nav
      .header__logo
        a.logo(href='/')
          img.header__logo__img(src='img/logo.svg' alt='logo-house')
      ul.header__list
        li.header__list-item
          a.header__list-item.a__text(href='views/index.pug') &Ocy; &kcy;&ocy;&mcy;&pcy;&acy;&ncy;&icy;&icy;
        li.header__list-item
          a.header__list-item.a__text(href='') &Dcy;&ocy;&mcy;&acy;
        li.header__list-item
          a.header__list-item.a__text(href='catalog') Каталог
        li.header__list-item
          a.header__list-item.a__text(href='#') &Pcy;&ocy;&rcy;&tcy;&fcy;&ocy;&lcy;&icy;&ocy;
        li.header__list-item
          a.header__list-item.a__text(href='#') &Scy;&tcy;&rcy;&ocy;&jcy;&tcy;&iecy;&lcy;&softcy;&scy;&tcy;&vcy;&ocy;
        li.header__list-item
          a.header__list-item.a__text(href='#') &Acy;&kcy;&tscy;&icy;&icy;
        li.header__list-item
          a.header__list-item.a__text(href='#') &Scy;&tcy;&ocy;&icy;&mcy;&ocy;&scy;&tcy;&softcy;
        li.header__list-item
          a.header__list-item.a__text(href='#') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
      a.recCall-a.a__text(href='#') &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &zcy;&vcy;&ocy;&ncy;&ocy;&kcy;